# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.yarn/
.pnp.*

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
*.apk
*.aab
*.ipa

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
android/
ios/

# Metro
.metro-health-check*
.metro/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo

# Temporary files
*.tmp
*.temp

# React Native specific
.watchmanconfig
.buckconfig
*.keystore
!debug.keystore

app-example
